@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url('/assets/fonts/AkzidenzGroteskBQ-Reg.woff2') format('woff2'),
    url('/assets/fonts/AkzidenzGroteskBQ-Reg.woff') format('woff'),
    url('/assets/fonts/AkzidenzGroteskBQ-Reg.ttf') format('truetype');
}

body {
    background-color: #100f0f;
    color: #ffffff;
    font-family: Roboto;
}

.header {
    height: 99px;
}

.container {
    height:100vh;
}

.rentability {
    font-size: 51px;
    font-weight: 700;
    background-image: url('/assets/img/background.png');
}

.logo {
    font-family: "Akzidenz-Grotesk BQ";
    font-size: 34px;
    font-weight: bold;
}

.titre-page {
    font-size: 32px;
    font-weight: bold;
}

.logo-crypto {
    width: 29px;
    heigth: 29px;
}

.total {
    height: 219px;
}

.container-crypto {
    max-width: 531px;
}

.row-crypto {
    height: 108px;
}

.crypto-symbol {
    font-size: 30px;
    font-weight: 900;
    width: 50px;
}
a {
    color:#ffffff;
    text-decoration: none;
}
a:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    color:#ffffff;
}

.crypto-name {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
}

img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    height:75px;
    margin-top: 65px;
    background-color: #100f0f;
    color: #ffffff;
}

.icon {
    padding: 20px;
    color: grey;
    text-align: center;
    font-size: 28px
}

.input-field, input[type="number" i] {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #100f0f!important;
    color: #ffffff!important;
    font-size: 22px;
    margin-right: 40px;
}

.input-field::placeholder {
    color: #ffffff;
    font-size: 22px;
}

.btn {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 410px;
    height: 100px;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
}

.btn:hover {
    opacity: 1;
    background-color: #ffffff;
}

form {
    height: 100%;
}

.fixed-bottom {
    background-color: #100f0f;
}

li {
    margin-top:13px;
    list-style: none;
}
